@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Knewave|Nosifer|Titan+One');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

*
{ 
    margin: 0; 
    padding: 0; 
    outline: none; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    vertical-align: top; 
    text-align: left; 
    font-family: "-apple-system","system-ui","roboto", "BlinkMacSystemFont", "Helvetica Neue",
    "Lucida Grande","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body { height: 100%; width: 100%; }
body 
{
	position: relative;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	background:rgba(255,255,255,1);
    color: #636363;
    min-width: 320px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;    
    background-color: #eee;
}
p
{
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #2E2B33;
    font-family: "Satisfy", cursive;
}
/*Mobile view (320px - 425px)*/
/*Header menu (toolbar)*/
.toolbar
{
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 50px;
    background: rgba(32, 30, 34, 1);
    box-shadow: 2px 3px 3px 3px rgba(0,0,87,.05);
    z-index: 9999;
}
.toolbar .btn-menu-toggle
{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    z-index: 9999;
}
.toolbar .btn-menu-toggle .menu-bar1
{
    position: absolute;
    display: inline-block;
    top: 13px;
    left: 8px;
    right: 8px;
    transition: 0.4s;
    background-color: #FCFFEE;
    border: solid #FCFFEE 2px;
    border-radius: 20px;
    z-index: 9999;
} 
.toolbar .btn-menu-toggle .menu-bar2
{
    position: absolute;
    display: inline-block;
    top: 23px;
    left: 10px;
    right: 10px;
    transition: 0.4s;
    background-color: #FCFFEE;
    border: solid #FCFFEE 2px;
    border-radius: 20px;
    z-index: 9999;
} 
.toolbar .btn-menu-toggle .menu-bar3
{
    position: absolute;
    display: inline-block;
    top: 33px;
    left: 8px;
    right: 8px;
    transition: 0.4s;
    background-color: #FCFFEE;
    border: solid #FCFFEE 2px;
    border-radius: 20px;
    z-index: 9999;
} 
.toolbar .btn-menu-toggle.active .menu-bar1
{
    -ms-transform: rotate(-45deg) translate(50px, 100px); /* IE 9 */
    -webkit-transform: rotate(-45deg) translate(-7px, 5px);/*safari*/
    transform: rotate(-45deg) translate(-7px,5px);/*chrome*/ 
}
.toolbar .btn-menu-toggle.active .menu-bar2 {opacity: 0;}
.toolbar .btn-menu-toggle.active .menu-bar3 
{
    -ms-transform: rotate(45deg) translate(-8px, -7px); /* IE 9 */
    -webkit-transform: rotate(45deg) translate(-8px, -7px);/*safari*/
    transform: rotate(45deg) translate(-8px, -7px);/*chrome*/ 
}
.toolbar .title
{
    position: absolute;
    display: inline-block;
    left: 50px;
    right: 50px;
    text-align: center;
    font-family: 'nosifer', cursive;
    color: #FCFFEE;
    line-height: 100%;
    font-size: 20px;
    transition: ease-in-out 0.4s;
    background: none;
    margin: 0px auto;
    z-index: 9999;
}
.toolbar .title.one
{
    position: absolute;
    display: inline-block;
    top: 0;
    padding-top: 5px;
    bottom: 25px;
    text-align: center;
    z-index: 9999;
}
.toolbar .title.two
{
    position: absolute;
    display: inline-block;
    top: 25px;
    bottom: 0;
    z-index: 9999;
}
.toolbar .navbar
{
    position: absolute;   
    left: 0;
    right: 0;
    height: 230px;
    background: rgba(32, 30, 34, 1);
    transform: translateY(-270px);
    transform-style: preserve-3d;
    transition: .3s ease-in-out;
    z-index: 9998;
}
.toolbar .navbar ul.menu-item li
{
    position: relative;
    height: 40px;  
    margin: 5px;
}
.toolbar .navbar ul.menu-item li a 
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #F9FFF6;
    font-family: "Satisfy", cursive;
}
.toolbar .navbar ul.menu-item li:hover a
{
    border: 1px solid #FCFFEE;
    border-radius: 5px;
}
.toolbar .navbar.active
{
    transform: translateY(50px);
}
/*Start main*/
/*Mobile view (320px - 768px)*/
.main
{
    position: relative;
    top: 50px;
    width: 100%;
    height:100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
}

/*start Parallax*/
/*logo + animation logo*/
.main .area-buffer
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 230px;
    background: white;
    z-index: 9996;
    overflow: hidden;
}
.main .area.img-1
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo/logo-parallax.png);
    background-size: contain;
    background-position: left 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-animation: img-1 2s; /* Safari 4.0 - 8.0 */
    animation: img-1 2s;
    animation-direction: alternate;
    z-index: 9997;
}
@keyframes img-1 {
    0% {transform: scale(0.5)}
    50% {transform: scale(1.5)}
    100% {transform: scale(1)}
}
/*End logo + animation logo*/

/*End parallax + image & description*/

.main .text.intro
{
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 9997;
}

.main .text.intro .container-1
{
    position: relative;
    display: inline-block;
    margin: 10px 0px;
    width: 100%;
    text-align: center;
}
main .container-parallax-1
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px;   
    background-image: url(../img/texture/decoration-4.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 9996;
}
.main .text.intro .container-2
{
    position: relative;
    display: inline-block;
    margin: 20px;
    text-align: center;
}
main .container-parallax-2
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px;
    background-image: url(../img/industriale/lampadario-resina-2.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 9996;
}
.main .text.intro .container-3
{
    position: relative;
    display: inline-block;
    margin: 20px;
    text-align: center;
}
main .container-parallax-3
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 240px;
    background-image: url(../img/interni/salotto.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 9996;
}
.main .text.intro .container-4
{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 20px 20px;
    text-align: center;
}
.main .text.intro .container-4 p
{
    font-size: 24px;
    line-height: 48px;
    font-weight: 600;
}
main .container-parallax-4
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 240px;
    background-image: url(../img/interni/camera-da-letto.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: 9996;
}
.main .text.service
{
    position: relative;
    display: inline-block;
    padding: 20px;
    width: 100%;
    z-index: 9996;
    text-align: center;
}
.postit 
{
    position: relative;  
    display:inline-block;
    width: 250px;             
    font-family:'Reenie Beanie';    
    background: #ffff88; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
    background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 7px;
    box-shadow: 0 8px 6px -6px black;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
}
.postit p
{
    margin: 5px 0px;
    text-align:center;
}
.main .text.photo
{
    position: relative;
    display: inline-block;
    width: 100%;
    background: rgba(0, 0, 0, 0);   
}
/*End parallax + image & description*/

/*Start Gallery*/
.main .galleria
{ 
    position: relative;
    display: inline-block;
    left: 0;
    width: 100%;
    height: 380px;
}
.main .galleria .texture
{
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 15px;
    height: 160px;
    width: 150px;
}
.main .galleria .texture .texture-1
{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 110px;
    height: 110px;
    z-index: 9998;
    background-image: url(../img/texture/decoration-1.JPG);
    background-size: 110px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .texture .texture-2
{
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 20px;
    width: 110px;
    height: 110px;
    z-index: 9997;
    background-image: url(../img/texture/decoration-2.JPG);
    background-size: 110px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .texture .title
{
    position: absolute;
    display: inline-block;
    top: 130px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #2E2B33;
    text-decoration: underline;
    cursor: pointer;
}
.main .galleria .interni
{
    position: absolute;
    display: inline-block;
    top: 20px;
    right: 10px;
    height: 160px;
    width: 150px;
}
.main .galleria .interni .interni-1
{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 110px;
    height: 110px;
    z-index: 9998;
    background-image: url(../img/interni/arte-porta.png);
    background-size: 160px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .interni .interni-2
{
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 20px;
    width: 110px;
    height: 110px;
    z-index: 9997;
    background-image: url(../img/interni/camera-da-letto.png);
    background-size: 250px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .interni .title
{
    position: absolute;
    display: inline-block;
    top: 130px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #2E2B33;
    text-decoration: underline;
    cursor: pointer;
}
.main .galleria .industriale
{
    position: absolute;
    display: inline-block;
    top: 190px;
    left: 15px;
    height: 160px;
    width: 150px;
}
.main .galleria .industriale .industriale-1
{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 110px;
    height: 110px;
    z-index: 9998;
    background-image: url(../img/industriale/decorazione-colonne.png);
    background-size: 120px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .industriale .industriale-2
{
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 20px;
    width: 110px;
    height: 110px;
    z-index: 9997;
    background-image: url(../img/industriale/lampadario-resina.jpg);
    background-size: 120px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .industriale .title
{
    position: absolute;
    display: inline-block;
    top: 130px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #2E2B33;
    text-decoration: underline;
    cursor: pointer;
}
.main .gallery-img
{
    position: fixed;
    display: none;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#2e2b33, #636363);
    z-index: 9999;
}
.main .gallery-img.active
{
    display: block;
}
.main .gallery-img .img-title
{
    position: absolute;
    display: inline-block;
    padding-top: 11px;
    left: 0;
    right: 0;
    height: 50px;
    font-size: 24px;
    text-align: center;
    color: #FCFFEE;
    font-size: cursive;
}
.main .gallery-img .btn-close
{
    position: absolute;
    display: inline-block;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url(../img/gallery/close.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.main .gallery-img .btn-arrow-left
{
    position: absolute;
    display: inline-block;
    top: 55px;
    left: 0;
    width: 50px;
    height: 65%;
    background-image: url(../img/gallery/arrow-left.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 9998;
    opacity: .5;

}
.main .gallery-img .btn-arrow-left:hover
{
    opacity: 1;
}
.main .gallery-img .img
{
    position: absolute;
    display: inline-block;
    top: 55px;
    width: 100%;
    height: 65%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9997;
}
.main .gallery-img .btn-arrow-right
{
    position: absolute;
    display: inline-block;
    top: 55px;
    right: 0;
    width: 50px;
    height: 65%;
    background-image: url(../img/gallery/arrow-right.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 9998;
    opacity: .5;
}
.main .gallery-img .btn-arrow-right:hover
{
    opacity: 1;
}
.main .gallery-img .preview
{
    position: absolute;
    display: inline-block;
    top: 77%;
    left: 0;
    right: 0;
    height: 70px;
}
.main .gallery-img .preview span
{
    position: relative;
    display: block;
    margin: auto;
    padding-top: 8px;
    height: 100%;
    width: max-content;
    cursor: pointer;
    border-top: 1px solid #FCFFEE;
}
.main .gallery-img .preview .img-mini
{
    display: inline-block;
    margin: 5px 3px;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/*End Gallery*/

/*Start footer*/
main .home-footer
{
    position: relative;
    display: inline-block;
    left: 0;
    height: 610px;
    width: 100%;
    background-color:rgba(32, 30, 34, 1);
    color: white;
    overflow-y: hidden;
}
main .home-footer .container
{
    position: absolute;
    display: inline-block;
    top: 0;
    width: 100%;
    height: 45%;
}
main .home-footer .container .footer-logo
{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0px;
    height: 20%;
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
    font-size: 18px;
    font-family: 'nosifer', cursive;
}
main .home-footer .container .footer-name
{
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 0px;
    height: 15%;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 18px;
}
main .home-footer .container .footer-work
{
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 0px;
    height: 15%;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 18px;
}
main .home-footer .container .footer-address
{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0px;
    height: 15%;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 18px;
}
main .home-footer .container .footer-phone
{
    position: absolute;
    display: inline-block;
    top: 65%;
    left: 0px;
    height: 15%;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 18px;
}
main .home-footer .container .footer-piva
{
    position: absolute;
    display: inline-block;
    top: 80%;
    left: 0;
    height: 15%;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 18px;
}
main .home-footer .box.map
{
    position: absolute;
    display: inline-block;
    top: 45%;
    width: 100%;
    height: 47.5%;
}
main .home-footer .box.map.view
{
    position: absolute;
    display: inline-block;
    top: 5%;
    left: 5%;
    width: 90% !important;
    height: 90% !important;
    padding-bottom: 10px;
}
/*End footer*/

/*Mobile M View*/
/*
@media screen and (min-width: 375px) and (max-width: 424px)
{
    p{font-size: 32px;}
    .main .area-buffer{height: 300px;}
    .main .galleria .texture{left: 20px;}
    .main .galleria .interni{right: 20px;}
    .main .galleria .industriale{left: 20px;}
}
*/
/*Mobile L View*/
/*
@media screen and (min-width: 425px) and (max-width: 767px)
{
    p{font-size: 36px;}
    .main .area-buffer{height: 300px;}
    .main .galleria .texture{left: 25px;}
    .main .galleria .interni{right: 25px;}
    .main .galleria .industriale{left: 25px;}
}
*/
/*Tablet view (768px)*/
/*
@media screen and (min-width: 768px) and (max-width: 1023px)
{
    .toolbar{height: 35px;}
    .toolbar .btn-menu-toggle{display: none;}
    .toolbar .title.one{left: 0; padding-top: 8px; padding-right: 5px; right: 50%; text-align: right;}
    .toolbar .title.two{top:0; padding-top: 8px; padding-left: 5px; left: 50%; right: 0; text-align: left;}
    .toolbar .navbar{transform: none; top:34px; height: 50px;}
    .toolbar .navbar .menu-item .menu-home{width: 19%; display: inline-block;}
    .toolbar .navbar .menu-item .menu-home .home-link{left: 0; width: 100%; padding-top: 0;}
    .toolbar .navbar .menu-item .menu-home .home-link:hover 
    {    
        -webkit-animation: hover-bounce-botton .5s;
        -moz-animation: hover-bounce-botton .5s;
        -o-animation: hover-bounce-botton .5s;
        animation: hover-bounce-botton .5s;
        border-left: 0px;
        border-right: 0px;
    }
    .toolbar .navbar .menu-item .menu-services{width: 19%; display: inline-block;}
    .toolbar .navbar .menu-item .menu-services .services-link{left: 0; width: 100%; padding-top: 0;}
    .toolbar .navbar .menu-item .menu-services .services-link:hover 
    {    
        -webkit-animation: hover-bounce-botton .5s;
        -moz-animation: hover-bounce-botton .5s;
        -o-animation: hover-bounce-botton .5s;
        animation: hover-bounce-botton .5s;
        border-left: 0px;
        border-right: 0px;
    }
    .toolbar .navbar .menu-item .menu-photo{width: 19%; display: inline-block;}
    .toolbar .navbar .menu-item .menu-photo .photo-link{left: 0; width: 100%; padding-top: 0;}
    .toolbar .navbar .menu-item .menu-photo .photo-link:hover 
    {    
        -webkit-animation: hover-bounce-botton .5s;
        -moz-animation: hover-bounce-botton .5s;
        -o-animation: hover-bounce-botton .5s;
        animation: hover-bounce-botton .5s;
        border-left: 0px;
        border-right: 0px;
    }
    .toolbar .navbar .menu-item .menu-video{width: 19%; display: inline-block;}
    .toolbar .navbar .menu-item .menu-video .video-link{left: 0; width: 100%; padding-top: 0;}
    .toolbar .navbar .menu-item .menu-video .video-link:hover 
    {    
        -webkit-animation: hover-bounce-botton .5s;
        -moz-animation: hover-bounce-botton .5s;
        -o-animation: hover-bounce-botton .5s;
        animation: hover-bounce-botton .5s;
        border-left: 0px;
        border-right: 0px;
    }
    .toolbar .navbar .menu-item .menu-info{width: 21%; display: inline-block;}
    .toolbar .navbar .menu-item .menu-info .info-link{left: 0; width: 100%; padding-top: 0;}
    .toolbar .navbar .menu-item .menu-info .info-link:hover 
    {    
        -webkit-animation: hover-bounce-botton .5s;
        -moz-animation: hover-bounce-botton .5s;
        -o-animation: hover-bounce-botton .5s;
        animation: hover-bounce-botton .5s;
        border-left: 0px;
        border-right: 0px;
    }
    @keyframes hover-bounce-botton {
        0% 
        {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 1px solid #FCFFEE;
        }
        50% 
        {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 5px solid #FCFFEE;
        }
        100% 
        {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 10px solid #FCFFEE;
        }
    }
    .main{top: 85px;}
    .main .area-buffer{height: 500px;}
    .main .text.intro .container-2{height: 350px;}
    .main .text.intro .container-3{height: 400px;}
    .main .container-parallax-3{height: 450px;}
    .main .container-parallax-4{height: 450px;}
    .main .container-parallax-5{height: 230px;}
    .main .text.service{padding: 85px 0px 0px 0px; margin: 0px;}
    .main .galleria{height: 200px;}
    .main .galleria .texture{left: 10%;}
    .main .galleria .interni{left: 40%;}
    .main .galleria .industriale{top: 20px; left: 70%;}
    .main .home-footer{height: 330px; margin-top: 50px;}

    main .home-footer .container{width: 50%; height: 100%;}
    main .home-footer .container .footer-logo{height: 10%; padding-top: 5px;}
    main .home-footer .container .footer-name{top: 10%;}
    main .home-footer .container .footer-work{top: 20%;}
    main .home-footer .container .footer-address{top:30%;}
    main .home-footer .container .footer-phone{top:40%;}
    main .home-footer .container .footer-piva{top: 50%; margin-top: 50px;}




    main .home-footer .box.map{top:0; width: 50%; left: 50%; height: 100%;}
    main .home-footer .box.map.view{height: 65% !important;}

}
*/




/*Laptop view (1024px)*/
/*
@media screen and (min-width: 1024px)
{
    .toolbar{height: 50px;}
    .toolbar .btn-menu-toggle{display: none;}
    .toolbar .title.one{left: 0; padding-top: 8px; padding-right: 5px; right: 50%; text-align: right; font-size:30px;}
    .toolbar .title.two{top:0; padding-top: 8px; padding-left: 5px; left: 50%; right: 0; text-align: left; font-size:30px;}
    .toolbar .navbar{transform: none; top:50px; height: 50px;}
    .toolbar .navbar .menu-item .menu-home{width: 19%; display: inline-block;}
    .toolbar .navbar .menu-item .menu-home .home-link{left: 0; width: 100%; padding-top: 0;}
    .toolbar .navbar .menu-item .menu-home .home-link:hover 
    {    
        -webkit-animation: hover-bounce-botton .5s;
        -moz-animation: hover-bounce-botton .5s;
        -o-animation: hover-bounce-botton .5s;
        animation: hover-bounce-botton .5s;
        border-left: 0px;
        border-right: 0px;
    }
    .toolbar .navbar .menu-item .menu-services{width: 19%; display: inline-block;}
    .toolbar .navbar .menu-item .menu-services .services-link{left: 0; width: 100%; padding-top: 0;}
    .toolbar .navbar .menu-item .menu-services .services-link:hover 
    {    
        -webkit-animation: hover-bounce-botton .5s;
        -moz-animation: hover-bounce-botton .5s;
        -o-animation: hover-bounce-botton .5s;
        animation: hover-bounce-botton .5s;
        border-left: 0px;
        border-right: 0px;
    }
    .toolbar .navbar .menu-item .menu-photo{width: 19%; display: inline-block;}
    .toolbar .navbar .menu-item .menu-photo .photo-link{left: 0; width: 100%; padding-top: 0;}
    .toolbar .navbar .menu-item .menu-photo .photo-link:hover 
    {    
        -webkit-animation: hover-bounce-botton .5s;
        -moz-animation: hover-bounce-botton .5s;
        -o-animation: hover-bounce-botton .5s;
        animation: hover-bounce-botton .5s;
        border-left: 0px;
        border-right: 0px;
    }
    .toolbar .navbar .menu-item .menu-video{width: 19%; display: inline-block;}
    .toolbar .navbar .menu-item .menu-video .video-link{left: 0; width: 100%; padding-top: 0;}
    .toolbar .navbar .menu-item .menu-video .video-link:hover 
    {    
        -webkit-animation: hover-bounce-botton .5s;
        -moz-animation: hover-bounce-botton .5s;
        -o-animation: hover-bounce-botton .5s;
        animation: hover-bounce-botton .5s;
        border-left: 0px;
        border-right: 0px;
    }
    .toolbar .navbar .menu-item .menu-info{width: 21%; display: inline-block;}
    .toolbar .navbar .menu-item .menu-info .info-link{left: 0; width: 100%; padding-top: 0;}
    .toolbar .navbar .menu-item .menu-info .info-link:hover 
    {    
        -webkit-animation: hover-bounce-botton .5s;
        -moz-animation: hover-bounce-botton .5s;
        -o-animation: hover-bounce-botton .5s;
        animation: hover-bounce-botton .5s;
        border-left: 0px;
        border-right: 0px;
    }
    @keyframes hover-bounce-botton {
        0% 
        {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 1px solid #FCFFEE;
        }
        50% 
        {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 5px solid #FCFFEE;
        }
        100% 
        {
            border-left: 0px;
            border-right: 0px;
            border-bottom: 10px solid #FCFFEE;
        }
    }
    .main .area-buffer {height: 768px}
    p {font-size: 40px;}
    main .container-parallax-1 {height: 400px;}
    .main .text.intro .container-2  {height: 250px}
    .main .text.intro .container-3 {height: 400px}
    .main .text.service {padding-top: 150px;}
    main .container-parallax-5 {height: 300px}
    */


    /* RICOMINCIARE DA QUI */
    /*
    main .box-1 {height: 190px;}
    header .navbar .menu-toggle {display: none}
    header .navbar .title-background {top:0px;}
    aside.menu-list {top: 100px; text-align: center; padding: 20px;}
    aside.menu-list .menu-item,.menu-home,.menu-services,.menu-photo,.menu-video,.menu-info {display: inline;padding: 20px 40px 10px 40px;}
    .menu-home:hover,.menu-services:hover,.menu-photo:hover,.menu-video:hover,.menu-info:hover
    {
    border-bottom: solid 5px grey;
    border-right: none;
    border-left: none;
    }

}
*/

