@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Knewave|Nosifer|Titan+One');
@import url('https://fonts.googleapis.com/css?family=Satisfy');

*
{ 
    margin: 0; 
    padding: 0; 
    outline: none; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -ms-box-sizing: border-box; 
    box-sizing: border-box; 
    vertical-align: top; 
    text-align: left; 
    font-family: "-apple-system","system-ui","roboto", "BlinkMacSystemFont", "Helvetica Neue",
    "Lucida Grande","Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body { height: 100%; width: 100%; }
body 
{
	position: relative;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	background: #DBDBDB;
    color: #636363;
    min-width: 320px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;    
}
p
{
    font-size: 24px;
    text-align: center;
    color: #2E2B33;
    font-family: "Satisfy", cursive;
}
/*Mobile view (320px - 425px)*/
/*Header menu (toolbar)*/
.toolbar
{
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 50px;
    background: linear-gradient(#636363, #2E2B33);
    box-shadow: 2px 3px 3px 3px rgba(0,0,87,.05);
    z-index: 9999;
}
.toolbar .btn-menu-toggle
{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    cursor: pointer;
    z-index: 9999;
}
.toolbar .btn-menu-toggle .menu-bar1
{
    position: absolute;
    display: inline-block;
    top: 13px;
    left: 8px;
    right: 8px;
    transition: 0.4s;
    background-color: #FCFFEE;
    border: solid #FCFFEE 2px;
    border-radius: 20px;
    z-index: 9999;
} 
.toolbar .btn-menu-toggle .menu-bar2
{
    position: absolute;
    display: inline-block;
    top: 23px;
    left: 10px;
    right: 10px;
    transition: 0.4s;
    background-color: #FCFFEE;
    border: solid #FCFFEE 2px;
    border-radius: 20px;
    z-index: 9999;
} 
.toolbar .btn-menu-toggle .menu-bar3
{
    position: absolute;
    display: inline-block;
    top: 33px;
    left: 8px;
    right: 8px;
    transition: 0.4s;
    background-color: #FCFFEE;
    border: solid #FCFFEE 2px;
    border-radius: 20px;
    z-index: 9999;
} 
.toolbar .btn-menu-toggle.active .menu-bar1
{
    -ms-transform: rotate(-45deg) translate(50px, 100px); /* IE 9 */
    -webkit-transform: rotate(-45deg) translate(-7px, 5px);/*safari*/
    transform: rotate(-45deg) translate(-7px,5px);/*chrome*/ 
}
.toolbar .btn-menu-toggle.active .menu-bar2 {opacity: 0;}
.toolbar .btn-menu-toggle.active .menu-bar3 
{
    -ms-transform: rotate(45deg) translate(-8px, -7px); /* IE 9 */
    -webkit-transform: rotate(45deg) translate(-8px, -7px);/*safari*/
    transform: rotate(45deg) translate(-8px, -7px);/*chrome*/ 
}
.toolbar .title
{
    position: absolute;
    display: inline-block;
    left: 50px;
    right: 0px;
    text-align: center;
    font-family: 'nosifer', cursive;
    color: #FCFFEE;
    line-height: 100%;
    font-size: 20px;
    transition: ease-in-out 0.4s;
    background: none;
    margin: 0px auto;
    z-index: 9999;
}
.toolbar .title.one
{
    position: absolute;
    display: inline-block;
    top: 0;
    padding-top: 5px;
    bottom: 25px;
    right: 50px;
    text-align: center;
    z-index: 9999;
}
.toolbar .title.two
{
    position: absolute;
    display: inline-block;
    top: 25px;
    bottom: 0;
    right: 50px;
    z-index: 9999;
}
.toolbar .logo
{
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    background-image: url(../img/logo/logo-bianco.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.toolbar .navbar
{
    position: absolute;   
    left: 0;
    right: 0;
    height: 255px;
    background: linear-gradient(#2E2B33, #0D0D0F);
    transform: translateY(-270px);
    transform-style: preserve-3d;
    transition: .3s ease-in-out;
    z-index: 9998;
}
.toolbar .navbar .menu-item .menu-home
{
    position: relative;
    height: 50px;
}
.toolbar .navbar .menu-item .menu-home .home-link
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: #F9FFF6;
    font-family: "Satisfy", cursive;
}
.toolbar .navbar .menu-item .menu-home .home-link:hover
{
    -webkit-animation: hover-bounce .5s;
    -moz-animation: hover-bounce .5s;
    -o-animation: hover-bounce .5s;
    animation: hover-bounce .5s;
    border-left: 8px solid #FCFFEE;
    border-right: 8px solid #FCFFEE;
}
.toolbar .navbar .menu-item .menu-services
{
    position: relative;
    height: 50px;   
}
.toolbar .navbar .menu-item .menu-services .services-link
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: #FCFFEE;
    font-family: "Satisfy", cursive;
}
.toolbar .navbar .menu-item .menu-services .services-link:hover
{
    -webkit-animation: hover-bounce .5s;
    -moz-animation: hover-bounce .5s;
    -o-animation: hover-bounce .5s;
    animation: hover-bounce .5s;
    border-left: 8px solid #FCFFEE;
    border-right: 8px solid #FCFFEE;
}
.toolbar .navbar .menu-item .menu-photo
{
    position: relative;
    height: 50px;  
}
.toolbar .navbar .menu-item .menu-photo .photo-link
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: #FCFFEE;
    font-family: "Satisfy", cursive;

}
.toolbar .navbar .menu-item .menu-photo .photo-link:hover
{
    -webkit-animation: hover-bounce .5s;
    -moz-animation: hover-bounce .5s;
    -o-animation: hover-bounce .5s;
    animation: hover-bounce .5s;
    border-left: 8px solid #FCFFEE;
    border-right: 8px solid #FCFFEE;
}
.toolbar .navbar .menu-item .menu-video
{
    position: relative;
    height: 50px;  
}
.toolbar .navbar .menu-item .menu-video .video-link
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: #FCFFEE;
    font-family: "Satisfy", cursive;

}
.toolbar .navbar .menu-item .menu-video .video-link:hover
{
    -webkit-animation: hover-bounce .5s;
    -moz-animation: hover-bounce .5s;
    -o-animation: hover-bounce .5s;
    animation: hover-bounce .5s;
    border-left: 8px solid #FCFFEE;
    border-right: 8px solid #FCFFEE;
}
.toolbar .navbar .menu-item .menu-info
{
    position: relative;
    height: 50px;
}
.toolbar .navbar .menu-item .menu-info .info-link
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    color: #FCFFEE;
    font-family: "Satisfy", cursive;
}
.toolbar .navbar .menu-item .menu-info .info-link:hover
{
    -webkit-animation: hover-bounce .5s;
    -moz-animation: hover-bounce .5s;
    -o-animation: hover-bounce .5s;
    animation: hover-bounce .5s;
    border-left: 8px solid #FCFFEE;
    border-right: 8px solid #FCFFEE;
}
.toolbar .navbar.active
{
    transform: translateY(50px);

}
@keyframes hover-bounce {
    0% 
    {
        border-left: 2px solid #FCFFEE;
        border-right: 2px solid #FCFFEE;
    }
    50% 
    {
        border-left: 5px solid #FCFFEE;
        border-right: 5px solid #FCFFEE;
    }
    100% 
    {
        border-left: 8px solid #FCFFEE;
        border-right: 8px solid #FCFFEE;
    }
}
/*Start main*/
/*Mobile view (320px - 768px)*/
.main
{
    position: relative;
    top: 50px;
    width: 100%;
    height:100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; 
}

/*start Parallax*/
/*logo + animation logo*/
.main .area-buffer
{
    position: absolute;
    display: inline-block;
    top: 10px;
    width: 100%;
    height: 200px;
    background: linear-gradient(#D1D1D1, #DBDBDB);
    z-index: 9996;
}
.main .area.img-1
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo/logo-parallax.png);
    background-size: contain;
    background-position: left 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-animation: img-1 2s; /* Safari 4.0 - 8.0 */
    animation: img-1 2s;
    z-index: 9997;
}
@keyframes img-1 {
    0% {transform: scale(0.1)}
    50% {transform: scale(1.1)}
    100% {transform: scale(1)}
}
/*End logo + animation logo*/

.main .text.intro
{
    position: absolute;
    display: inline-block;
    top: 210px;
    left: 0;
    right: 0;
    font-weight: 400;
    z-index: 9997;
    background: #85C7F2;
}
main .container-parallax-1
{
    position: relative;
    display: inline-block;
    top: 310px;
    width: 100%;
    height: 400px;   
    background-image: url(../img/texture/decoration-4.JPG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 9996;
}
.main .text.service
{
    position: relative;
    display: inline-block;
    top: 310px;
    width: 100%;
    background: #85C7F2;
    z-index: 9996;
}
main .container-parallax-2
{
    position: relative;
    display: inline-block;
    top: 310px;
    width: 100%;
    height: 550px;
    background-image: url(../img/industriale/decorazione-colonne.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 9996;
}
.main .text.photo
{
    position: relative;
    display: inline-block;
    top: 310px;
    width: 100%;
    background: #85C7F2;
    z-index: 9996;
}
/*End parallax*/

/*Start Gallery*/
.main .galleria
{ 
    position: relative;
    display: inline-block;
    top: 310px;
    left: 0;
    width: 100%;
    height: 380px;
}
.main .galleria .texture
{
    position: absolute;
    display: inline-block;
    top: 25px;
    left: 25px;
    height: 160px;
    width: 150px;
}
.main .galleria .texture .texture-1
{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 110px;
    height: 110px;
    z-index: 9998;
    background-image: url(../img/texture/decoration-1.JPG);
    background-size: 110px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .texture .texture-2
{
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 20px;
    width: 110px;
    height: 110px;
    z-index: 9997;
    background-image: url(../img/texture/decoration-2.JPG);
    background-size: 110px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .texture .title
{
    position: absolute;
    display: inline-block;
    top: 130px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #006494;
    text-decoration: underline;
    cursor: pointer;
}
.main .galleria .interni
{
    position: absolute;
    display: inline-block;
    top: 25px;
    right: 25px;
    height: 160px;
    width: 150px;
}
.main .galleria .interni .interni-1
{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 110px;
    height: 110px;
    z-index: 9998;
    background-image: url(../img/interni/arte-porta.png);
    background-size: 160px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .interni .interni-2
{
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 20px;
    width: 110px;
    height: 110px;
    z-index: 9997;
    background-image: url(../img/interni/camera-da-letto.png);
    background-size: 250px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .interni .title
{
    position: absolute;
    display: inline-block;
    top: 130px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #006494;
    text-decoration: underline;
    cursor: pointer;
}
.main .galleria .industriale
{
    position: absolute;
    display: inline-block;
    top: 200px;
    left: 25px;
    height: 160px;
    width: 150px;
}
.main .galleria .industriale .industriale-1
{
    position: absolute;
    display: inline-block;
    top: 10px;
    left: 10px;
    width: 110px;
    height: 110px;
    z-index: 9998;
    background-image: url(../img/industriale/decorazione-colonne.png);
    background-size: 120px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .industriale .industriale-2
{
    position: absolute;
    display: inline-block;
    top: 20px;
    left: 20px;
    width: 110px;
    height: 110px;
    z-index: 9997;
    background-image: url(../img/industriale/lampadario-resina.jpg);
    background-size: 120px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main .galleria .industriale .title
{
    position: absolute;
    display: inline-block;
    top: 130px;
    left: 0;
    height: 30px;
    width: 100%;
    color: #006494;
    text-decoration: underline;
    cursor: pointer;
}
.main .gallery-img
{
    position: fixed;
    display: none;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#2e2b33, #636363);
    border-radius: 7px;
    box-shadow: 3px 4px 4px 4px rgba(46,43,51,.1);
    z-index: 9999;
}
.main .gallery-img.active
{
    display: block;
}
.main .gallery-img .img-title
{
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 0;
    right: 0;
    height: 50px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    color: #FCFFEE;
    font-size: cursive;
    padding-top: 4px;
}
.main .gallery-img .btn-close
{
    position: absolute;
    display: inline-block;
    top: 3px;
    right: 3px;
    width: 50px;
    height: 50px;
    background-image: url(../img/gallery/close.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.main .gallery-img .btn-arrow-left
{
    position: absolute;
    display: inline-block;
    top: 36px;
    left: 0;
    width: 50px;
    height: 650px;
    background-image: url(../img/gallery/arrow-left.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 9998;
    opacity: .5;

}
.main .gallery-img .btn-arrow-left:hover
{
    opacity: 1;
}
.main .gallery-img .img
{
    position: absolute;
    display: inline-block;
    top: 55px;
    left: 0px;
    right: 0px;
    height: 650px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9997;
}
.main .gallery-img .btn-arrow-right
{
    position: absolute;
    display: inline-block;
    top: 50px;
    right: 0;
    width: 50px;
    height: 650px;
    background-image: url(../img/gallery/arrow-right.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 9998;
    opacity: .5;
}
.main .gallery-img .btn-arrow-right:hover
{
    opacity: 1;
}
.main .gallery-img .preview
{
    position: absolute;
    display: inline-block;
    top: 720px;
    left: 0;
    right: 0;
    height: 59px;
}
.main .gallery-img .preview span
{
    position: relative;
    display: block;
    margin: auto;
    height: 100%;
    width: max-content;
    cursor: pointer;
    border-top: 1px solid #FCFFEE;
}
.main .gallery-img .preview .img-mini
{
    display: inline-block;
    margin: 3px;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
/*start footer*/
main .home-footer
{
    position: relative;
    display: inline-block;
    top: 340px;
    left: 0;
    height: 610px;
    width: 100%;
    background: linear-gradient(to top, #efeeee, #2a363b);
    color: white;
}
main .home-footer .container
{
    position: absolute;
    display: inline-block;
    top: 0;
    width: 100%;
    height: 50%;
}
main .home-footer .container .footer-logo
{
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0px;
    height: 20%;
    width: 100%;
    padding-left: 75px;
    padding-top: 20px;
    font-size: 18px;
    background-image: url(../img/logo/logo-bianco.png);
    background-size: 55px;
    background-position: 15px center;
    background-repeat: no-repeat;
}
main .home-footer .container .footer-name
{
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 0px;
    height: 15%;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 18px;
}
main .home-footer .container .footer-work
{
    position: absolute;
    display: inline-block;
    top: 35%;
    left: 0px;
    height: 15%;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 18px;
}
main .home-footer .container .footer-address
{
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0px;
    height: 15%;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 18px;
}
main .home-footer .container .footer-phone
{
    position: absolute;
    display: inline-block;
    top: 65%;
    left: 0px;
    height: 15%;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 18px;
}
main .home-footer .container .footer-piva
{
    position: absolute;
    display: inline-block;
    top: 80%;
    left: 0;
    height: 15%;
    width: 100%;
    padding-left: 15px;
    padding-top: 13px;
    font-size: 18px;
}
main .home-footer .box.map
{
    position: absolute;
    display: inline-block;
    top: 50%;
    width: 100%;
    height: 50%;
}
main .home-footer .box.map.view
{
    position: absolute;
    display: inline-block;
    top: 5%;
    left: 5%;
    width: 90% !important;
    height: 90% !important;
}
/*end footer*/


/*Tablet view (768px)*/
@media screen and (min-width: 768px)
{
    header {height: 800px}
    header .area-buffer {height: 800px}
    aside.menu-list.active {top:155px}
    aside.menu-list.active.appending {top: 100px}
    main .text.intro p {font-size: 4em}
    main .text.intro-label p {font-size:2em}
    header .navbar .title-background {height:100px}
    header .navbar .title-background .title.one {font-size: 35px; top:8px; transition: ease-in-out 0.4s}
    header .navbar .title-background .title.two {font-size: 35px; top:45px; transition: ease-in-out 0.4s}
    header .navbar .menu-toggle {top:auto}
    main .img.intro {height: 600px; background-size: 100% 600px;}
    main .text.intro p {padding-top: 75px}
    main .container-parallax-2 {height:700px}
    main .prlx-1-2{top:50px; width: 450px;}
    main .text.service p{font-size: 5em;}
    main .text.service-label p{font-size: 3em;}
    main .home-footer{height: 330px;}
    main .home-footer .container{width: 50%; height: 100%;}
    main .home-footer .box.map{top:0; width: 50%; left: 50%; height: 100%;}

}
/*Laptop view (1024px)*/
@media screen and (min-width: 1024px)
{
    header {height: 768px}
    header .area-buffer {height: 768px}
    header .area.img-1 {background-size:40%; background-position-y: 150px;}
    main .img.intro {width: 100%; height: 500px; background-size: 500px 500px; background-position-x: right;}
    main .prlx-1-2 {left:0px; width: 500px; text-align: center; top:0px; margin:100px 100px;}
    main .text.intro p {padding-top: 0px}
    main .text.intro-label {font-size: 1.8em}
    main .box-1 {height: 190px;}
    header .navbar .menu-toggle {display: none}
    header .navbar .title-background {top:0px;}
    aside.menu-list {top: 100px; text-align: center; padding: 20px;}
    aside.menu-list .menu-item,.menu-home,.menu-services,.menu-photo,.menu-video,.menu-info {display: inline;padding: 20px 40px 10px 40px;}
    .menu-home:hover,.menu-services:hover,.menu-photo:hover,.menu-video:hover,.menu-info:hover
    {
    border-bottom: solid 5px grey;
    border-right: none;
    border-left: none;
    }

}


