 <footer class="margin-top-small">
    <section class="container">
            <span class="color-white footer-logo">PAOLUCCI DECORAZIONI</span>
            <span class="color-white footer-name">Erik Paolucci</span>
            <span class="color-white footer-work">Imbianchino &amp; Decoratore</span>
            <span class="color-white footer-address">Via Galvani 34 - Villa cortese (MI)</span>
            <span class="color-white footer-phone">Tel +39 3339557388</span>
            <span class="color-white footer-piva">P.Iva 10372950963</span>
            <ul class="social">
                <li class="fb">
                    <a href="https://it-it.facebook.com/paoluccidecorazioni/" target="_blank" rel="nofollow"></a>
                </li> 
            </ul>
    </section>
    <section class="container-map">
            <iframe class="map-view" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2793.405172380896!2d8.883006015903574!3d45.56229017910236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47868cd43ce69ead%3A0x7d45d7e10cdb82f9!2sVia+Luigi+Galvani%2C+34%2C+20020+Villa+Cortese+MI!5e0!3m2!1sit!2sit!4v1541867349529" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </section>
</footer>