<div class="intro">
    <h3 class="text-center">Passione & Creativit&agrave;</h3>
    <ul class="text-center">
        <li class="dot color-gradient-yellow"></li>
        <li class="dot color-gradient-blue"></li>
        <li class="dot color-gradient-purple"></li>
    </ul>
    <section>
        <p>Arte a domicilio, l'azienda &egrave; nata dall'amore per l'arte decorativa.</p>
        <p>Dopo anni di esperienza nel settore come imbianchino, decoratore e verniciatore ho conseguito il diploma tecnico di geometra.</p>
        <p>La voglia di crescere e di migliorarmi, frequentando corsi ed esami tecnici, mi ha permesso di fondere le competenze pratiche e teoriche.</p>
    </section>
</div>

<div class="service">
    <h3 class="text-center">Servizi</h3>
    <ul class="text-center">
        <li class="dot color-gradient-yellow"></li>
        <li class="dot color-gradient-blue"></li>
        <li class="dot color-gradient-purple"></li>
    </ul>
    <section>
        <ul>
            <li class="text-center">Tinteggiature</li>
            <li class="text-center">Decorazioni</li>
            <li class="text-center">Verniciature</li>
            <li class="text-center">Resine decorative</li>
        </ul>
    </section>
</div>

<div class="photo">
    <h3 class="text-center">Foto</h3>
    <ul class="text-center">
        <li class="dot color-gradient-yellow"></li>
        <li class="dot color-gradient-blue"></li>
        <li class="dot color-gradient-purple"></li>
    </ul>
    <section>
        <h4 class="text-center">Interni</h4>
        <ul class="text-center">
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove interni interni-1"></li>
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove interni interni-2"></li>
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove interni interni-3"></li>
        </ul>
        
        <h4 class="text-center">Industriale</h4>
        <ul class="text-center">
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove industriale industriale-1"></li>
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove industriale industriale-2"></li>
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove industriale industriale-3"></li>
        </ul>
        
        <h4 class="text-center">Texture</h4>
        <ul class="text-center">
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove texture texture-1"></li>
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove texture texture-2"></li>
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove texture texture-3"></li>
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove texture texture-4"></li>
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove texture texture-5"></li>
            <li class="margin-bottom-xsmall margin-right-xsmall padding-left-remove texture texture-6"></li>
        </ul>
    </section>
</div>

<!-- Gallery -->
<div class="gallery">
    <span class="close"></span>
    <span class="arrow left"></span>
    <section class="image"></section>
    <span class="arrow right"></span>
    <ul class="navigation text-center"></ul>
</div>
<!-- End Gallery -->