<h3 class="text-center">Preventivo</h3>
<ul class="text-center">
    <li class="dot color-gradient-yellow"></li>
    <li class="dot color-gradient-blue"></li>
    <li class="dot color-gradient-purple"></li>
</ul>